In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
# load all the dataframes
country_df = pd.read_csv('../data/lyrics/Country-lyrics.csv', index_col=0)
hip_hop_df = pd.read_csv('../data/lyrics/Hip-Hop-Rnb-lyrics.csv', index_col=0)
pop_df = pd.read_csv('../data/lyrics/pop-lyrics.csv', index_col=0)
christian_df = pd.read_csv('../data/lyrics/Christian-lyrics.csv', index_col=0)
electro_df = pd.read_csv('../data/lyrics/Electro-lyrics.csv', index_col=0)
rock_df = pd.read_csv('../data/lyrics/Rock-lyrics.csv', index_col=0)

In [48]:
# merge all the dataframes
all_df = pd.merge(
    pd.merge(pd.merge(country_df, hip_hop_df, how='outer'), pop_df, how='outer'),
    pd.merge(pd.merge(christian_df, electro_df, how='outer'), rock_df, how='outer'),
    how='outer'
)

In [49]:
all_df

              word                artist   title  year    genre  rank
0           Cruise  Florida Georgia Line  Cruise  2013  Country     1
1           Lyrics  Florida Georgia Line  Cruise  2013  Country     1
2            Baby,  Florida Georgia Line  Cruise  2013  Country     1
3            Baby,  Florida Georgia Line  Cruise  2013  Country     1
4            Baby,  Florida Georgia Line  Cruise  2013  Country     1
...            ...                   ...     ...   ...      ...   ...
2501529        low           The Killers     Boy  2022     Rock   100
2501530     $39You           The Killers     Boy  2022     Rock   100
2501531      might           The Killers     Boy  2022     Rock   100
2501532       also           The Killers     Boy  2022     Rock   100
2501533  likeEmbed           The Killers     Boy  2022     Rock   100

[2501534 rows x 6 columns]